maestro-v1.0.0-midi.zip
maestro-v1.0.0.csv
maestro-v1.0.0.json
./data/*
./models/*
*.npy
*.midi
*.mid
__pycache__/
*.aux
*.bbl
*.blg
*.bcf
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.nav
*.snm
